
.header__container  .btn{
border: 3px solid #29a24e !important;
padding: 8px 16px !important;
border-radius: 30px !important;
transition: 200ms !important;
opacity: 0.9 !important;
background-color: #ffffff00 !important;
font-size: 90% !important;
}

.header__container .btn:hover{
transform: scale(1.1 , 1.1) !important;
transition: 200ms !important;
opacity: 1 !important;
}
@media (max-width: 767px) {

.header__container  .btn{
border: 3px solid #29a24e !important;
padding: 8px 16px !important;
border-radius: 30px !important;
transition: 200ms !important;
opacity: 0.9 !important;
background-color: #ffffff00 !important;
font-size: 90% !important;
}

.header__container .btn:hover{
transform: scale(1.1 , 1.1) !important;
transition: 200ms !important;
opacity: 1 !important;
}

}
